:root {
    --mainColor: #15202b;
    --secondaryColor: #182532;

    --crazyRight: pink;
    --conquerRight: pink;
    --sumRight: pink;
    --secaRight: pink;
  
    --mainText: #fff;
    --secondaryText: black;
    --specialText: #fff;

    --navbarUnderline: cornflowerblue;
}