:root {
    --mainColor: #fff;
    --secondaryColor: #fff;

    --crazyRight: rgb(0, 72, 0);
    --conquerRight: darkgreen;
    --sumRight: green;
    --secaRight: forestgreen;
    color: ;
  
    --mainText: black;
    --secondaryText: #fff;
    --specialText: black;
}