:root {
    --mainColor: #fff;
    --secondaryColor: #fff;

    --crazyRight: #dc143c;
    --conquerRight: #6495ed;
    --sumRight: #008080;
    --secaRight: #444;

    --crazyRightText: #dc143c;
    --conquerRightText: #6495ed;
    --sumRightText: #008080;
    --secaRightText: #444;
  
    --mainText: black;
    --secondaryText: #fff;
    --specialText: black;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: 1s;
}

html, body {
    scroll-behavior: smooth;
    background-color: var(--mainColor);
}

a {
    color: var(--mainText);
    text-decoration: none;
}

p {
    font-size: large;
    font-family: Book Antiqua;
}

.main {
    width: 100vw;
    height: 100vh;
}

.main-section {
    height: 90vh;
}

.container {
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.nav {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: Goudy Stout;
    margin: 20px;
    color: var(--specialText);
}

.smaller-text {
    font-size: 15px;
}

.nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 10px;
    font-family: Segoe UI;
    font-weight: bold;
    color: var(--specialText);
}

.nav ul li {
    margin: 5px;
    padding: 2px 0px;
    border-bottom: 2px var(--mainColor) solid;
}

.nav ul li:hover {
    border-bottom: 2px cornflowerblue  solid;
    cursor: pointer;
}

.content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 100%;
    align-items: center;
}

.card {
    margin: 10px;
    border-radius: 20px;
    width: 270px;
    height: 450px;
    box-shadow: 5px 5px 20px 0px rgb(0 0 0 / 20%);
    display: flex;
    flex-direction: row;
}

.card.hidden {
    visibility: hidden;
    transition: all 400ms ease-in-out;   
}

.card:hover {
    cursor: pointer;
}

.left {
    width: 216px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 20px 0 0 20px;
    background-color: var(--secondaryColor);
}

.left h1 {
    font-size: xx-large;
    font-family: OCR A;
    margin: 10px 0px;
}

.left p {
    margin: 10px 0px;
    color: var(--mainText);
}

.right {
    width: 54px;
    height: inherit;
    border-radius: 0 20px 20px 0;
}

.left-one h1 {
    color: var(--crazyRight);
}

.right-one {
    background-color: var(--crazyRight);
    background-image: var(--crazyRight);
}

.left-two h1 {
    color: var(--conquerRight);
}

.right-two {
    background-color: var(--conquerRight);
    background-image: var(--conquerRight);
}

.left-three h1 {
    color: var(--sumRight);
}

.right-three {
    background-color: var(--sumRight);
    background-image: var(--sumRight);
}

.left-four h1 {
    color: var(--secaRight);
}

.right-four {
    background-color: var(--secaRight);
    background-image: var(--secaRight);
}

.second-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.instructions h1 {
    font-size: xx-large;
    text-align: center;
    font-family: OCR A;
    margin: 50px;
}

.big-card {

    width: 80%;
    left: 50%;
    top: 0%;

    border-radius: 20px;
    box-shadow: 5px 5px 20px 0px rgb(0 0 0 / 20%);
    display: flex;
    flex-direction: column;
    line-height: 30px;
    position: absolute;

    background-color: var(--mainColor);
    visibility: hidden;
    transform: scale(1) translate(-50%, -50%);
    transform-origin: top left;
    opacity: 0;
    transition: all 400ms ease-in-out;
}

.big-card.visible {
    top: 390px;
    visibility: visible;
    opacity: 1;
}

.tops {
    width: 100%;
    height: 20px;
    border-radius: 20px 20px 0 0;
}

.tops:hover {
    cursor: pointer;
}

.tops p {
    color: var(--secondaryText);
    position: absolute;
    left: 20px;
    font-family: monospace;
    font-size: xx-large;
    position: fixed;
    top: -5px;
}

.tops-crazy {
    background-color: var(--crazyRight);
}

.tops-conquer {
    background-color: var(--conquerRight);
}

.tops-sum {
    background-color: var(--sumRight);
}

.tops-seca {
    background-color: var(--secaRight);
}

.bottoms {
    background-color: var(--secondaryColor);
    padding: 0 0 30px 0;
    border-radius: 0 0 20px 20px;
    color: var(--mainText);
    height: 490px;
    overflow: scroll;
}

.bottoms::-webkit-scrollbar {
    width: 5px;
}

.bottoms::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 20px;
}

.bottoms::-webkit-scrollbar-thumb {
    background-color: var(--mainColor);
    border-radius: 20px;
    border: 3px solid gray;
}

.bottoms::-webkit-scrollbar-corner {
    background-color: transparent;
}

.bottoms h1 {
    margin: 30px 0 10px 50px;
    font-size: xx-large;
    font-family: OCR A;
}

.bottoms ul {
    margin: 0 70px 0 86px;
    font-size: large;
    list-style-type: circle;
}

.bottoms p {
    margin: 20px 0;
    text-align: justify;
}

@media (max-width: 1200px) {
    .content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
        margin: 1em 2em 1em 1em;
    }

    .card {
        width: 100%;
    }

    .right {
        width: 40%;
    }

    .left {
        width: 60%;
    }

    .big-card {
        width: 96vw;
    }

    .big-card.visible {
        top: 385px;
    }
}

@media (max-width: 700px) {
    .content {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 1em 2em 1em 1em;
    }

    .card {
        width: 100%;
    }

    .right {
        width: 50%;
    }

    .left {
        width: 50%;
    }

    .big-card {
        width: 75vw;
    }

    .container {
        align-items: center;
    }

    .content {
        width: 70%;
    }
}

@media (max-width: 591px) {
    .big-card.visible {
        top: 410px;
    }

    .right {
        width: 40%;
    }

    .left {
        width: 60%;
    }
}

@media (max-width: 500px) {
    .right {
        width: 30%;
    }

    .left {
        width: 70%;
    }

    .nav {
        flex-direction: column;
    }

    .logo {
        text-align: center;
        margin-bottom: 0;
    }

    .big-card.visible {
        top: 415px;
    }
}